<!-- /templates/customers/order.liquid -->
{%- comment -%}
{% assign fulfstat = order.fulfillment_status %}
{% assign finstat = order.financial_status %}


{% include 'check-order-status' %}
{%- endcomment -%}
{% include 'check-order-status', fulfstat: order.fulfillment_status, finstat: order.financial_status %}

<div class="container my-5">
  <h1 class="lead">Order {{ order.name }}</h1>

  <div class="row my-3">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header w-100">Billing Information</div>
        <div class="card-body">
          <p>Billing Status: <span class="badge {{ financial_status }}">{{ order.financial_status_label }}</span></p>
          {{ order.billing_address | format_address }}
        </div>
      </div>

    </div>
    <div class="col-12 col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td><strong>Product</strong></td>
            <td><strong>SKU</strong></td>
            <td><strong>Price</strong></td>
            <td><strong>Quantity</strong></td>
            <td><strong>Total</strong></td>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr>
            <td>{{ line_item.title | link_to: line_item.product.url }}</td>
            <td>{{ line_item.sku }}</td>
            <td>{{ line_item.original_price | money}}</td>
            <td>{{ line_item.quantity }}</td>
            <td>{{ line_item.line_price | money }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">SUBTOTAL</td>
            <td>{{ order.line_items_subtotal_price | money }}</td>
          </tr>
          <tr>
            <td colspan="4">Shipping</td>
            <td>{{ order.shipping_price | money }}</td>
          </tr>
          <tr>
            <td colspan="4"><strong>TOTAL</strong></td>
            <td><strong>{{ order.total_price | money }}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header w-100">Shipping Information</div>
        <div class="card-body">
          <p>Fulfillment Status: <span class="badge {{ fulfillment_status }}">{{ order.fulfillment_status_label
              }}</span></p>
          {{ order.shipping_address | format_address }}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">

    </div>
  </div>
</div>