<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light">
	<div class="container">
		<a class="navbar-brand" href="/">HOME</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul id="main-menu" class="navbar-nav me-auto">
				{%- for link in linklists.main-menu.links -%}
				<li class="nav-item{% if link.links != blank %} dropdown dropdown-hover{%- endif -%}">
					<a class="nav-link{% if link.links != blank %} has-dropdown{%- endif -%}" href="{{ link.url }}">{{
						link.title }}{%- if link.links != blank -%}<i class="arrow down"></i>{%- endif -%}
					</a>

					{%- if link.links != blank -%}
					<ul class="dropdown-menu">
						<li class="nav-item menu-view-all">
							<a class="nav-link" href="{{ link.url }}">View All {{ link.title }}</a>
						</li>
						{%- for child_link in link.links -%}
						<li class="nav-item{% if child_link.links != blank %} dropdown dropdown-hover{% endif %}">
							<a class="nav-link{% if child_link.links != blank %} has-dropdown{%- endif -%}"
								href="{{ child_link.url }}">{{ child_link.title }}{%- if
								child_link.links != blank -%}<i class="arrow right"></i>{%- endif -%}</a>
							{%- if child_link.links != blank -%}
							<ul class="dropdown-menu dropdown-menu-horizontal">
								<li class="nav-item menu-view-all">
									<a class="nav-link" href="{{ child_link.url }}">View All {{ child_link.title }}</a>
								</li>
								{%- for grandchild_link in child_link.links -%}
								<li class="nav-item">
									<a class="nav-link" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
								</li>
								{%- endfor -%}
							</ul>
							{%- endif -%}
						</li>
						{%- endfor -%}
					</ul>
					{%- endif -%}
				</li>
				{%- endfor -%}
				<li class="nav-item"><a href="/cart" class="nav-link">Cart<span
							class="badge bg-danger rounded-pill">0</span></a></li>
			</ul>
			<ul class="navbar-nav">
				{%- if shop.customer_accounts_enabled -%}
				{%- if customer -%}
				<li class="nav-item">
					<a class="nav-link" href="{{ routes.account_url }}">Account</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ routes.account_logout_url }}">Logout</a>
				</li>
				{%- else -%}
				<li class="nav-item">
					<a class="nav-link" href="{{ routes.account_login_url }}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ routes.account_register_url }}">Register</a>
				</li>
				{%- endif -%}
				{%- endif -%}
			</ul>
			<form action="/search" method="GET" role="search">
				<input type="text" name="q" value="{{ search.terms | escape }}" placeholder="Search">
			</form>
		</div>

		{%- form 'localization', id: "localization_form_tag", class: "dropup" -%}
		<div class="localeBtn"><img width="25" height="25" class="lazyload"
				data-src="{{ 'globe.png' | asset_img_url: '25x' }}" alt=""></div>
		<div class="dropup-content">
			{%- for locale in shop.published_locales -%}
			<a id="localeItem" class="text-decoration-none" lang="{{ locale.iso_code }}">{{ locale.iso_code }}</a>
			{%- endfor -%}
		</div>
		<input id="localeCode" type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}">
		{%- endform -%}

	</div>
	</div>
</nav>