<div class="container">
  <div class="row">
    <h1 class="text-center my-3">All Collections</h1>
    {% assign count = 0 %}
    {% for collection in collections %}
    {% assign count = count | plus: 1 %}

    <div class="col-12 g-3">
      <div class="card shadow text-start">
        <div class="row w-100 px-4 py-2 align-items-center">
          <div class="col-1 text-center display-5">{{ count }}</div>
          <div class="col-3">
            {% if collection.image %}
            <div class="thumbnails">
              <img src=" {{ collection.image | img_url: '150x' }}" alt="">
            </div>
            {% else %}
            <div class="thumbnails">{{ 'image' | placeholder_svg_tag: 'card-img-top' }}</div>
            {% endif %}
          </div>
          <div class="col-4">
            <h4><a href="{{ collection.url }}">{{ collection.title }}</a></h4>
          </div>
          <div class="col-4">
            <span>{{ collection.description | truncatewords: 25, '...' }}</span>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>